<%- include('includes/head.ejs') %>
<title><%= pageTitle %></title>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        Main Street 123 <br />
        Piestany <br />
        921 01 <br />
        Slovak Republic <br />
    </main>
</body>
</html>